img {
  height: 150px;
  width: 250px;
}


.pickSomething p {
  font-size: 150px;
  font-weight: bold;
  font-family: monospace;
}



.carlSagan, .neilTyson, .richardDawkins, .pickSomething {
  display: none;
}
